:root {
    --colore-primario: #007bff; /* Blu */
    --colore-secondario: #6c757d; /* Grigio */
    --colore-terziario: #28a745; /* Verde */
    --colore-testo: #212529; /* Nero */
    --biancoo: #f8f9fa; /* Bianco */
}

body{
    background-color: var(--biancoo);
}

.text-old {
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
}

a{
    text-decoration: none;
}

nav{
    background-color: var(--biancoo);
    z-index: 999;
}

#myNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s ease; /* Aggiungi una transizione con un effetto di easing */
}

.myNavLink{
    color: black;
    font-size: xx-large;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.1s;
}

.myNavLink:hover{
    color: white;    
    text-shadow: black 0px 0px 1px,black 5px 0px 1px;    
}
.myNavLink::after{
    color: white;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
}

.iris{
    color: black;
    text-shadow: white 0px 0px 2px;
}
.ink{
    color: white;
    text-shadow: black 0px 0px 3px,black 3px 0px 1px;   
}

.bg-header{
    height: 600px;
    
}

.bkground{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(248,249,250) 100%), url('./tipa.png');
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.titolo{
    font-size: 150px;
}

.myWorkCard {
    position: relative;
    overflow: hidden; /* Assicura che il contenuto non fuoriesca dall'elemento */
}

.myhover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(70, 8, 42, 0.415),rgb(248,249,250)  100%);
    transition: opacity 0.3s; /* Applica la transizione sull'opacità */
    opacity: 1; /* Inizialmente invisibile */
}

.myWorkCard:hover .myhover {
    opacity: 0; /* Rendi l'elemento visibile al passaggio del mouse sull'elemento .myWorkCard */
}

@media screen and (max-width: 768px) {
    .titolo{
        font-size: 100px;
    }
    .bg-header{
        height: 500px;
        
    }
}
